################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/propvaluation.client/obj/Release
/PropValuation.Server/bin/Release/net8.0
/PropValuation.Server/obj/Release/net8.0
*.user
